<h1>A node view</h1>

<form action="/node-mongodb-mongoose" method="post">
    <input type="email" name="emailBody">
    <button type="submit">Enviar</button>
</form>

<h1>Dados recuperados do usuário: </h1>
{{firstNameV}} <br/>
{{lastNameV}} <br/>
{{passwordV}} <br/>
{{emailV}} <br/>
{{messagesV}} <br/>
